<table>
    <thead>
      <tr>
        <th>User Name</th>
        <th>Balance</th>
        <th>Account Type</th>
        <th *ngIf="userRole === 'Customer'">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
          <ng-container *ngIf="!editModeMap[account.AccountId]; else editMode">

          <td>{{ account.User.Username }}</td> <!-- Display user's name -->
          <td>{{ account.Balance }}</td>
          <td>{{ account.AccountType }}</td>
          <td>
            <ng-container *ngIf="userRole === 'Customer'">
              <button (click)="editAccount(account)" class="edit-btn">Edit</button>
              <button (click)="deleteAccount(account.User.UserId, account.AccountId)" class="delete-btn">Delete</button>

            </ng-container>
          </td>
        </ng-container>
        <ng-template #editMode>
          <td><input [ngModel]="account.User.Username" readonly></td> <!-- Display user's name -->
          <td><input [(ngModel)]="account.Balance"></td>
          <!-- <td><input [(ngModel)]="account.AccountType"></td> -->
          <td>
            <select [(ngModel)]="account.AccountType">
                <option value="Salary">Salary</option>
                <option value="Savings">Savings</option>
            </select>
        </td>
          <td>
            <button (click)="updateAccount(account)" class="save-btn">Save</button>
            <button (click)="cancelEdit()" class="cancel-btn">Cancel</button>
  
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
  