<table>
    <thead>
      <tr>
        <th>Account ID</th>
        <th>User Name</th>
        <th>User ID</th>
        <th>Balance</th>
        <th>Account Type</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let account of accounts">
        <ng-container *ngIf="selectedAccount !== account; else editMode">
          <td>{{ account.AccountId }}</td>
          <td>{{ account.User?.name }}</td> <!-- Display user's name -->
          <td>{{ account.UserId }}</td>
          <td>{{ account.Balance }}</td>
          <td>{{ account.AccountType }}</td>
          <td>
            <ng-container *ngIf="userRole === 'Customer'">
              <button (click)="editAccount(account)" class="edit-btn">Edit</button>
              <button (click)="deleteAccount(account)" class="delete-btn">Delete</button>
            </ng-container>
            <ng-container *ngIf="userRole === 'Customer'">
              <button (click)="createFd(account)" class="edit-btn">Create Fixed Deposit</button>
            </ng-container>
          </td>
        </ng-container>
        <ng-template #editMode>
          <td><input [(ngModel)]="account.AccountId" readonly></td>
          <td><input [ngModel]="account.User?.Username" readonly></td> <!-- Display user's name -->
          <td><input [(ngModel)]="account.UserId" readonly></td>
          <td><input [(ngModel)]="account.Balance"></td>
          <td><input [(ngModel)]="account.AccountType"></td>
          <td>
            <button (click)="updateAccount(account)" class="save-btn">Save</button>
            <button (click)="cancelEdit()" class="cancel-btn">Cancel</button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
  