/* Style for the main container */
/* div {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  } */
  
  /* Style for the main heading */
  .main-head {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style for the table */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 17px;
    text-align: center;
  }
  
  /* Style for table header */
  .table th {
    background-color: #f2f2f2;
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  /* Style for table rows */
  .table td {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  /* Style for alternating row colors */
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .buttons{
    display:flex !important;
  }

  /* Style for buttons */
  .buttons button {
    margin-right: 5px;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width:100px
  }
  
  /* Style for Edit button */
  .edit-btn-grad {
    background-color: #4caf50;
    color: #fff;
  }
  
  /* Style for Delete button */
  .delete-btn-grad {
    background-color: #dc3545;
    color: #fff;
  }
  .records{
    text-align: center;
    font-size: 20px;
  }