@model List<Book>

<h1>Featured Books</h1>

@foreach (var book in Model)
{
    <div>
        <h2>@book.Title</h2>
        <p>Author: @book.Author</p>
        <p>Price: @book.Price</p>
    </div>
}
