<h2>Add Enquiry Details</h2>
<form (ngSubmit)="addEnquiry()" #enquiryForm="ngForm" class="enquirycontainer">

  <!-- Course Name Dropdown -->
  <label for="title">Course Name:</label>
  <select id="title" name="title" [(ngModel)]="enquiry.title" required #title="ngModel">
    <option *ngFor="let course of courses" [value]="course">
      {{ course }}
    </option>
  </select>
   <div *ngIf="title.invalid && (title.dirty || title.touched)">
    <div class="error-message">*Course Name is required</div>
  </div>

  <!-- Description Input -->
  <label for="description">Description:</label>
  <textarea
    id="description"
    name="description"
    [(ngModel)]="enquiry.description"
    required #description="ngModel"
  ></textarea>
  <div *ngIf="description.invalid && (description.dirty || description.touched)">
    <div class="error-message">*Description is required</div>
  </div>

  <!-- Email ID Input -->
  <label for="email">Email ID:</label>
  <input
    type="email"
    id="email"
    name="email"
    [(ngModel)]="enquiry.emailID"
    required #email="ngModel"
  />
  <div *ngIf="email.invalid && (email.dirty || email.touched)">
    <div class="error-message" *ngIf="email.errors?.required">*Email ID is required</div>
    <div class="error-message" *ngIf="email.errors?.email">*Invalid email format</div>
  </div>
  <label for="enquiryDate">Enquiry Date:</label>
  <span id="enquiryDate">{{ getCurrentDate() | date: 'mediumDate' }}</span>
  <!-- Enquiry Type Dropdown -->
  <label for="enquiryType">Enquiry Type:</label>
  <select id="enquiryType" name="enquiryType" [(ngModel)]="enquiry.enquiryType" required #enquiryType="ngModel">
    <option value="general">General</option>
    <option value="events">Events</option>
    <option value="complaints">Complaints</option>
    <option value="fees">Fees</option>
  </select>
  <div *ngIf="enquiryType.invalid && (enquiryType.dirty || enquiryType.touched)">
    <div class="error-message">*Enquiry Type is required</div>
  </div>

  <button type="submit" [disabled]="enquiryForm.invalid">Submit</button>
</form>
