<h2>Add Fixed Deposit Details</h2>
<form #fdForm="ngForm" (ngSubmit)="addFd(fdForm)">
  <label for="amount">Fd Amount<span class="asterisk">*</span>:</label>
  <input id="amount" [(ngModel)]="newFd.amount" type="number" name="amount" required placeholder="Enter FD Amount"
    #amount="ngModel">
  <div *ngIf="amount.invalid && (amount.dirty || amount.touched)" class="error-message">
    <div *ngIf="courseName.errors.required">*FD Amount is required.</div>
  </div>
 
  <label for="tenureMonths">Tenure Months<span class="asterisk">*</span>:</label>
  <input id="tenureMonths" [(ngModel)]="newFd.tenureMonths" name="tenureMonths" required placeholder="Enter Tenure Months"
    #tenureMonths="ngModel">
  <div *ngIf="tenureMonths.invalid && (tenureMonths.dirty || tenureMonths.touched)" class="error-message">
    <div *ngIf="tenureMonths.errors.required">*Tenure is required.</div>
  </div>
 
  <label for="interestRate">Interest Rate<span class="asterisk">*</span>:</label>
  <input id="interestRate" [(ngModel)]="newFd.interestRate" name="cost" type="number" required placeholder="Enter Cost"
    #interestRate="ngModel">
  <div *ngIf="interestRate.invalid && (interestRate.dirty || interestRate.touched)" class="error-message">
    <div *ngIf="interestRate.errors.required">*Cost is required.</div>
    <div *ngIf="interestRate.errors.min">*Cost cannot be negative.</div>
  </div>
 
  <!-- <button type="submit" class="add-course">Add Course</button> -->
  <button type="submit" class="add-fd">Create Fixed Deposit</button>

</form>