
@{
    ViewData["Title"] = "Customers";
}

<h1>Customers Page</h1>
<p>This is the Customers page. You can list and manage customers here.</p>

<a asp-controller="Menu" asp-action="Products">Products</a>
