<table>
    <thead>
      <tr>
        <!-- <th>User ID</th> -->
        <th>Course Name</th>
        <th>Description</th>
        <th>Email</th>
        <th>Enquiry Type</th>
        <th *ngIf="userRole === 'STUDENT'">Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let enquiry of enquiries">
        <!-- <td>{{ enquiry.userId }}</td> -->
        <td>{{ enquiry.title }}</td>
        <td>{{ enquiry.description }}</td>
        <td>{{ enquiry.emailID }}</td>
        <td>{{ enquiry.enquiryType }}</td>
        <td>
          <button *ngIf="userRole === 'STUDENT'" (click)="deleteEnquiry(enquiry)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>