<div class="paymentcontainer">
    <!-- <button class="dashboard" (click)="goToDashboard()">Back to Dashboard</button> -->
    <h2>Payment History</h2>
  <table>
    <tr>
      <th>User Name</th>
      <th>Status</th>
      <th>Total Amount</th>
      <th>Payment Date</th>
      <th>Mode of Payment</th>
    </tr>
    <tr *ngFor="let payment of payments">
      <td>{{ payment.userName }}</td>
      <td>{{ payment.status }}</td>
      <td>{{ payment.totalAmount }}</td>
      <td>{{ payment.paymentDate | date }}</td>
      <td>{{ payment.modeOfPayment }}</td>
    </tr>
  </table>
  </div>