/* Style for the main heading */
#viewBookingHomeBody {
  position: relative;
}

/* Style for blurred background when the delete popup is shown */
.blur {
  filter: blur(8px);
}

h1 {
  text-align: center;
  margin-top:8px;
}

/* Style for the form container */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 15px;
  border: 1px solid black;
  border-radius: 10px;
  font-size: 16px;
}

/* Style for form groups */
.form-group {
  margin-bottom: 20px;
}

/* Style for labels */
label {
  display: block;
  margin-bottom: 3px;
}

/* Style for input fields */
input,
select, textarea {
  width: 100%;
  padding: 8px;
  margin-top: 3px;
  box-sizing: border-box;
}

option{
  padding:10px;
  font-size:15px;
  margin-top:5px;
  margin-bottom:5px;
}

/* Style for error messages */
div.error-message {
  color: red;
  margin-top: 5px;
  margin-bottom: 5px;
}

/* Style for the submit button */
button {
  background-color: #4e73df;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  font-size: 16px;
  margin-bottom:10px;
}

button:hover {
  background-color: #224abe;
}

.add-btn {
  text-align: center;
}

/* CSS for the success popup */
.success-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  border-radius: 10px;
    font-size: 17px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* AddBookingComponent CSS */

.confirmation-popup {
  /* display: none; */
  position: fixed;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  /* z-index: 1000; */
}

.confirmation-popup p, .success-popup p {
  margin: 0;
  font-size: 16px;
}

.confirmation-popup button, .success-popup button {
  margin:10px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirmation-popup button:hover, .success-popup button:hover {
  background-color: #45a049;
}

.buttons{
  display:flex;
}
/* Add more styling as needed */

.validation{
  display: flex;
}

label{
  color: black !important;
}