<div id="viewBookingHomeBody" [ngClass]="{ blur: (confirmPayment&&!errorMessage) || paymentSuccess}">

    <h1>Add Booking Details</h1>

    <form [formGroup]="addBookingForm" (ngSubmit)="onSubmit()">

        <div class="form-group">
            <label for="resortName">Resort Name</label>
            <input type="text" id="resortName" formControlName="resortName" [value]="resort?.resortName" readonly>
        </div>

        <div class="form-group">
            <label for="totalPrice">Total Price</label>
            <input type="text" id="totalPrice" formControlName="totalPrice" [value]="resort?.price" readonly>
        </div>

        <div class="form-group">
            <label for="resortLocation">Resort Location</label>
            <input type="text" id="resortLocation" formControlName="resortLocation" [value]="resort?.resortLocation"
                readonly>
        </div>

        <div class="form-group">
            <label for="capacity">Resort Capacity</label>
            <input type="number" id="capacity" formControlName="capacity" [value]="resort?.capacity" readonly>
        </div>

        <div class="form-group">
            <div class="validation">
                <label for="address">Your Address<span class="asterisk">*</span></label>
            </div>
            <textarea id="address"  rows="3" cols="20" formControlName="address"></textarea>
            <div *ngIf="addBookingForm.get('address').hasError('required') && addBookingForm.get('address').touched"
            class="error-message">
            *Address is required
        </div>
        </div>

        <div class="form-group">
            <div class="validation">
                <label for="noOfPersons">Number of persons<span class="asterisk">*</span></label>
                
            </div>
            <input type="number" id="noOfPersons" formControlName="noOfPersons" [max]="resort?.capacity">
            <div *ngIf="addBookingForm.get('noOfPersons').hasError('required') && addBookingForm.get('noOfPersons').touched"
            class="error-message">
            *Number of person is required
        </div>
            <div *ngIf="addBookingForm.get('noOfPersons').hasError('max') && addBookingForm.get('noOfPersons').touched"
                class="error-message">
                *Number of persons cannot exceed the resort capacity.
            </div>
        </div>

        <div class="form-group">
            <div class="validation">
                <label for="fromDate">From Date<span class="asterisk">*</span></label>
                
            </div>
            <input type="date" id="fromDate" formControlName="fromDate" [min]="getTodayDate()" required>
            <div *ngIf="addBookingForm.get('fromDate').hasError('required') && addBookingForm.get('fromDate').touched"
            class="error-message">
            *From date is required
        </div>
        </div>


        <div class="form-group">
            <div class="validation">
                <label for="toDate">To Date<span class="asterisk">*</span></label>
                
            </div>
            <!-- <input type="date" id="toDate" formControlName="toDate"> -->
            <!-- <input type="date" id="toDate" formControlName="toDate" [min]="addBookingForm.get('fromDate').value" [disabled]="!addBookingForm.get('fromDate').value"> -->
            <!-- <input type="date" id="toDate" formControlName="toDate" [min]="addBookingForm.get('fromDate').value" [disabled]="!addBookingForm.get('fromDate').value || addBookingForm.get('fromDate').hasError('required')"> -->
            <!-- <input type="date" id="toDate" formControlName="toDate" [min]="addBookingForm.get('fromDate').value" [disabled]="!addBookingForm.get('fromDate').value"> -->
            <input type="date" id="toDate" formControlName="toDate" [min]="getTodayDate()"
                [disabled]="!addBookingForm.get('fromDate').value">
                <div *ngIf="addBookingForm.get('toDate').hasError('required') && addBookingForm.get('toDate').touched"
                class="error-message">
                *To date is required
            </div>
            <div *ngIf="addBookingForm.hasError('dateRangeError') && addBookingForm.touched" class="error-message">
                *From Date must be before or equal to To Date.
            </div>
        </div>


        <div *ngIf="errorMessage" class="error-message">
            *{{ errorMessage }}
        </div>

        <div class="add-btn">
            <button type="submit" (click)="confirmPayment = true">Make Payment</button>
        </div>
        <button (click)="navigateToDashboard()">Cancel</button>

    </form>
</div>
<div *ngIf="confirmPayment&&!errorMessage" class="confirmation-popup">
    <h2>Payment Confirmation</h2>
    <p>Do you want to proceed with the payment?</p>
    <div class="buttons">
        <button (click)="makePayment()">Confirm Payment</button>
        <button (click)="confirmPayment = false">Cancel</button>
    </div>
</div>

<div *ngIf="paymentSuccess" class="success-popup">
    <p>Payment was successful!</p>
    <button (click)="navigateToDashboard()">Close</button>
</div>