<!-- navbar.component.html -->
<nav>
  <div class="container">
    <div class="logo">
      Online Banking System
    </div>
    <ul class="nav-links">
      <ng-container *ngIf="!isLoggedIn">
        <li><a routerLink="/signup">Register</a></li>
        <li><a routerLink="/login">Login</a></li>
      </ng-container>
      <ng-container *ngIf="isLoggedIn">
        <li><a routerLink="/">Home</a></li>
        <li><a routerLink="/admin/dashboard" *ngIf="isAdmin()">Admin</a></li>
        <li><a routerLink="/customer/dashboard" *ngIf="isCustomer">Customer</a></li>
        <li><a id="logout" (click)="logout()">Logout</a></li>
      </ng-container>
    </ul>
  </div>
</nav>
