<table>
  <thead>
    <tr>
      <th>Fixed Deposit ID</th>
      <th>Amount</th>
      <th>Tenure (Months)</th>
      <th>Interest Rate</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fd of fds">
      <ng-container *ngIf="selectedFd !== fd; else editMode">
        <td>{{ fd.FixedDepositId }}</td>
        <td>{{ fd.Amount }}</td>
        <td>{{ fd.TenureMonths }}</td>
        <td>{{ fd.InterestRate }}</td>
        <td>
          <ng-container *ngIf="userRole === 'Admin'">
            <button (click)="editFd(fd)" class="edit-btn">Edit</button>
            <button (click)="deleteFd(fd)" class="delete-btn">Delete</button>
            <ng-container *ngIf="userRole === 'Customer'">

          </ng-container>
        </td>
      </ng-container>
      <ng-template #editMode>
        <td><input [(ngModel)]="fd.FixedDepositId" readonly></td>
        <td><input [(ngModel)]="fd.Amount"></td>
        <td><input [(ngModel)]="fd.TenureMonths"></td>
        <td><input [(ngModel)]="fd.InterestRate"></td>
        <td>
          <button (click)="updateFd(fd)" class="save-btn">Save</button>
          <button (click)="cancelEdit()" class="cancel-btn">Cancel</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

