/* Style for the main heading */
.main-head {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style for the table */
  .table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    font-size: 18px;
    text-align: center;
  }
  
  /* Style for table header */
  .table th {
    background-color: #f2f2f2;
    padding: 12px;
    border: 1px solid #ddd;
  }
  
  /* Style for table rows */
  .table td {
    border: 1px solid #ddd;
    padding: 12px;
  }
  
  /* Style for alternating row colors */
  .table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .resort-image {
    width: 300px; /* Adjust as needed */
    height: 180px;
    border-radius: 8px;
  }
  
  /* Style for the "Add Booking" button */
  .edit-btn-grad {
    background-image: linear-gradient(to right, #4e73df, #224abe);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    line-height: 30px;
    font-size: 14px;
    width:120px;
    padding:5px;
    white-space: nowrap; /* Ensures button stays on one line */
  }
  
  /* Add additional styles or adjust existing ones based on your needs */
  