<div class="main-head">
    <h1>Resort Details</h1>
</div>
<table class="table">
    <thead>
        <tr>
            <th>S.No</th>
            <th>Resort Name</th>
            <th>Resort Description</th>
            <th>Resort Image</th>
            <th>Resort Available Status</th>
            <th>Resort Location</th>
            <th>Capacity</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let resort of resorts; let i=index">
            <td>{{ i+1 }}</td>
            <td>{{ resort.resortName }}</td>
            <td>{{ resort.description }}</td>
            <td>
                <img [src]="resort.resortImageUrl" alt="Resort Image" class="resort-image">
            </td>
            <td>{{ resort.resortAvailableStatus }}</td>
            <td>{{ resort.resortLocation }}</td>
            <td>{{ resort.capacity }}</td>
            <td>{{ resort.price }}</td>
            <td>
                <button class="edit-btn-grad btn-primary" (click)="navigateToAddBooking(resort)">Add Booking</button>
            </td>
        </tr>
    </tbody>
</table>
