<div id="viewResortHomeBody" [ngClass]="{ blur: showDeletePopup }">
    <div class="main-head">
      <h1>Resort Details</h1>
    </div>
    <div *ngIf="resorts.length > 0; else noRecordsFound">

    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>S.No</th>
            <th>Resort Name</th>
            <th>Resort Description</th>
            <th>Resort Image</th>
            <th>Resort Available Status</th>
            <th>Resort Location</th>
            <th>Capacity</th>
            <th>Price</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let resort of resorts; let i=index">
            <td>{{ i+1 }}</td>
            <td>
              <span *ngIf="!isEditing || resort !== selectedResort">{{
                resort.resortName
              }}</span>
              <input
                *ngIf="isEditing && resort === selectedResort"
                [(ngModel)]="resort.resortName"
              />
            </td>
            <td>
              <span *ngIf="!isEditing || resort !== selectedResort">{{
                resort.description
              }}</span>
              <textarea
                *ngIf="isEditing && resort === selectedResort"
                [(ngModel)]="resort.description"
              ></textarea>
            </td>
            <td>
              <img *ngIf="!isEditing || resort !== selectedResort" [src]="resort.resortImageUrl" alt="Resort Image" class="resort-image" />
              <img *ngIf="isEditing || resort === selectedResort" [src]="resort.resortImageUrl" alt="Resort Image" class="resort-image" />
              <input *ngIf="isEditing && resort === selectedResort" type="file" id="resortImageUrl" (change)="handleFileChange($event)" accept=".png, .jpg">
          </td>
            <td>
              <span *ngIf="!isEditing || resort !== selectedResort">{{
                resort.resortAvailableStatus
              }}</span>
              <input
                *ngIf="isEditing && resort === selectedResort"
                [(ngModel)]="resort.resortAvailableStatus"
              />
            </td>
            <td>
              <span *ngIf="!isEditing || resort !== selectedResort">{{
                resort.resortLocation
              }}</span>
              <textarea
                *ngIf="isEditing && resort === selectedResort"
                [(ngModel)]="resort.resortLocation"
              ></textarea>
            </td>
            <td>
              <span *ngIf="!isEditing || resort !== selectedResort">{{
                resort.capacity
              }}</span>
              <input
                *ngIf="isEditing && resort === selectedResort"
                [(ngModel)]="resort.capacity"
                type="number"
              />
            </td>
            <td>
              <span *ngIf="!isEditing || resort !== selectedResort">{{
                resort.price
              }}</span>
              <input
                *ngIf="isEditing && resort === selectedResort"
                [(ngModel)]="resort.price"
                type="number"
              />
            </td>
            <td>
              <div class="buttons">
                <button
                  *ngIf="!isEditing || (isEditing && resort !== selectedResort)"
                  class="edit-btn-grad btn-primary"
                  (click)="editResort(resort)"
                >
                  Edit
                </button>
                <button
                  *ngIf="isEditing && resort === selectedResort"
                  class="save-btn-grad btn-primary"
                  (click)="updateResort(resort)"
                >
                  Save
                </button>
                <button
                  *ngIf="isEditing && resort === selectedResort"
                  class="cancel-btn-grad btn-primary"
                  (click)="cancelEdit()"
                >
                  Cancel
                </button>
                <button
                  *ngIf="!isEditing || (isEditing && resort !== selectedResort)"
                  class="delete-btn-grad btn-danger"
                  (click)="showDeletePopup = true; selectedResort = resort"
                >
                  Delete
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
        </div>

    <ng-template #noRecordsFound>
      <p class="records">No data found</p>
    </ng-template>
  </div>
  <div *ngIf="showDeletePopup" class="delete-popup">
    <p>Are you sure you want to delete?</p>
    <button
      (click)="deleteResort(selectedResort); showDeletePopup = false"
      id="delete-btn"
    >
      Yes, Delete
    </button>
    <button (click)="showDeletePopup = false">Cancel</button>
  </div>
  