<div id="customerViewReviewBody">
    <h1>Reviews</h1>
    <table class="table">
      <thead>
        <tr>
        <th>S.No</th>
          <th>Resort Name</th>
          <th>Feedback Comments</th>
          <th>Ratings (out of 5)</th>
          <th>Date Created</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let review of reviews; let i = index">
            <td>{{i + 1}}</td>
            <td>{{ review.subject }}</td>
          <td>{{ review.body }}</td>
          <td>{{ review.rating }}</td>
          <td>{{ review.dateCreated | date : "dd/MM/yyyy" }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  