<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h1>Customer List</h1>
    <p>You are currently viewing the Customer List. Navigate to the <a href="/menu/products">Products page</a>.</p>
    <ul>
        <li>Customer 1</li>
        <li>Customer 2</li>
    </ul>
</body>
</html>
