<!DOCTYPE html>
<html>
<head>
    <title>Customers</title>
</head>
<body>
    <h1>Customer Page</h1>
    <p>You are currently viewing the Customer Page. </p>
    <p>Navigate to the <a href="/menu/products">Products page</a>.</p>
</body>
</html>
