<!DOCTYPE html>
<html>
<head>
    <title>Orders</title>
</head>
<body>
    <h1>Order Page</h1>
    <p>You are currently viewing the Order List.</p>
    <p> Navigate back to the <a href="/menu/home">Home page</a>.</p>
   
</body>
</html>
