<!DOCTYPE html>
<html>
<head>
    <title>Products</title>
</head>
<body>
    <h1>Product Page</h1>
    <p>You are currently viewing the Product List.</p>
    <p> Navigate to the <a href="/menu/orders">Orders page</a>.</p>
   
</body>
</html>
