<h2>Add Account Details</h2>
<form #accountForm="ngForm" (ngSubmit)="addAccount(accountForm)">
  <label for="balance">Balance<span class="asterisk">*</span>:</label>
  <input id="balance" [(ngModel)]="account.Balance" type="number" name="balance" required placeholder="Enter Balance"
    #balance="ngModel">
  <div *ngIf="balance.invalid && (balance.dirty || balance.touched)" class="error-message">
    <div *ngIf="balance.errors.required">*Balance is required.</div>
  </div>
 
  <label for="accountType">Account Type<span class="asterisk">*</span>:</label>
  <select id="accountType" [(ngModel)]="account.AccountType" name="accountType" required #accountType="ngModel">
    <option value="" disabled selected>Select Account Type</option>
    <option value="Savings">Savings</option>
    <option value="Salary">Salary</option>
  </select>
  <div *ngIf="accountType.invalid && (accountType.dirty || accountType.touched)" class="error-message">
    <div *ngIf="accountType.errors.required">*Account Type is required.</div>
  </div>
 
  <button type="submit" class="add-account">Create Account</button>
</form>
