<h1>Add New Resort</h1>

<form [formGroup]="addResortForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <div class="validation">
            <label for="resortName">Resort Name<span class="asterisk">*</span></label>
        </div>

        <input type="text" id="resortName" formControlName="resortName">
        <div *ngIf="addResortForm.get('resortName').hasError('required') && addResortForm.get('resortName').touched" class="error-message">
            *Resort name is required.
        </div>
    </div>

    <div class="form-group">
        <div class="validation">
            <label for="resortImageUrl">Resort Image<span class="asterisk">*</span></label>
            <!-- <div *ngIf="addResortForm.get('resortImageUrl').hasError('required') && addResortForm.get('resortImageUrl').touched"
                class="error-message">
                *
            </div> -->
        </div>
        <input type="file" id="resortImageUrl" formControlName="resortImageUrl" (change)="handleFileChange($event)"
            accept=".png, .jpg">
        <div *ngIf="addResortForm.get('resortImageUrl').hasError('required') && addResortForm.get('resortImageUrl').touched" class="error-message">
            *Resort Image is required.
        </div>
    </div>

    <!-- <div class="form-group">
        <label for="resortLocation">Resort Location:</label>
        <textarea id="resortLocation" formControlName="resortLocation"></textarea>
        <div *ngIf="addResortForm.get('resortLocation').hasError('required') && addResortForm.get('resortLocation').touched" class="error-message">
            *Resort location is required.
        </div>
    </div>

    <div class="form-group">
        <label for="description">Resort Description:</label>
        <textarea id="description" formControlName="description"></textarea>
        <div *ngIf="addResortForm.get('description').hasError('required') && addResortForm.get('description').touched" class="error-message">
            *Resort description is required.
        </div>
    </div>

    <div class="form-group">
        <label for="resortAvailableStatus">Resort Available Status:</label>
        <select id="resortAvailableStatus" formControlName="resortAvailableStatus">
            <option value="" disabled selected>Select availability</option>
            <option value="Available">Available</option>
          <option value="Unavailable">Unavailable</option>
        </select>
        <div *ngIf="addResortForm.get('resortAvailableStatus').hasError('required') && addResortForm.get('resortAvailableStatus').touched" class="error-message">
          *Resort available status is required.
        </div>
      </div>
      

    <div class="form-group">
        <label for="price">Price:</label>
        <input type="number" id="price" formControlName="price">
        <div *ngIf="addResortForm.get('price').hasError('required') && addResortForm.get('price').touched" class="error-message">
            *Price is required.
        </div>
        <div *ngIf="addResortForm.get('price').hasError('min') && addResortForm.get('price').touched" class="error-message">
            *Price must be greater than 0.
        </div>
    </div>

    <div class="form-group">
        <label for="capacity">Capacity:</label>
        <input type="number" id="capacity" formControlName="capacity">
        <div *ngIf="addResortForm.get('capacity').hasError('required') && addResortForm.get('capacity').touched" class="error-message">
            *Capacity is required.
        </div>
        <div *ngIf="addResortForm.get('capacity').hasError('min') && addResortForm.get('capacity').touched" class="error-message">
            *Capacity must be greater than 0.
        </div>
    </div> -->

    <div class="form-group">
        <div class="validation">
            <label for="resortLocation">Resort Location<span class="asterisk">*</span></label>
            
        </div> <textarea id="resortLocation" formControlName="resortLocation"></textarea>
        <div *ngIf="addResortForm.get('resortLocation').hasError('required') && addResortForm.get('resortLocation').touched"
        class="error-message">
        *Resort Location
    </div>
    </div>

    <div class="form-group">
        <div class="validation">
            <label for="description">Resort Description<span class="asterisk">*</span></label>
          
        </div> <textarea id="description" formControlName="description"></textarea>
        <div *ngIf="addResortForm.get('description').hasError('required') && addResortForm.get('description').touched"
        class="error-message">
        *Resort description is required
    </div>
    </div>

    <div class="form-group">
        <div class="validation">
            <label for="resortAvailableStatus">Resort Available Status<span class="asterisk">*</span></label>

           
        </div> <select id="resortAvailableStatus" formControlName="resortAvailableStatus">
            <option value="" disabled selected>Select availability</option>
            <option value="Available">Available</option>
            <option value="Unavailable">Unavailable</option>
        </select>
        <div *ngIf="addResortForm.get('resortAvailableStatus').hasError('required') && addResortForm.get('resortAvailableStatus').touched"
        class="error-message">
        *Resort available status is required
    </div>
    </div>

    <div class="form-group">
        <div class="validation">
            <label for="price">Price<span class="asterisk">*</span></label>
        </div> <input type="number" id="price" formControlName="price">
        <div *ngIf="addResortForm.get('price').hasError('required') && addResortForm.get('price').touched"
                class="error-message">
                *Price is required
            </div>
            <div *ngIf="addResortForm.get('price').hasError('min') && addResortForm.get('price').touched"
                class="error-message">
                *Price should be min 1
            </div>

    </div>

    <div class="form-group">
        <div class="validation">
            <label for="capacity">Capacity<span class="asterisk">*</span></label>
            
            <!-- <div *ngIf="addResortForm.get('capacity').hasError('min') && addResortForm.get('capacity').touched"
                class="error-message">
                *
            </div> -->
        </div> <input type="number" id="capacity" formControlName="capacity">
        <div *ngIf="addResortForm.get('capacity').hasError('required') && addResortForm.get('capacity').touched"
                class="error-message">
                *Capacity is required
            </div>

    </div>

    <div *ngIf="errorMessage" class="error-message">
        *{{ errorMessage }}
    </div>

    <div class="add-btn">
        <button type="submit">Add Resort</button>
    </div>
</form>