/* add-product.component.css */

form {
    max-width: 400px;
    margin: 20px auto;
    border: 1px solid #000;
    padding: 25px;
    border-radius: 10px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-size: 17px;
  }
  
  input, select, textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    margin-bottom: 5px;
    border-radius: 5px;
    line-height: 20px;
    font-size: 15px;
    border:1px solid black;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 150px;
    line-height: 30px;
    font-size: 16px;
    border-radius: 7px;
    width:100%;
  }
  
  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  h1{
    text-align: center;
    color: #333;
  }

  /* Styles for the error messages */
.form-group div, .error-message {
  color: red;
  margin-top: 5px;
  font-size: 16px;
}

h1{
  font-size: 25px;
  color: #000;
}

.validation{
  display: flex;
}

label{
  color: black !important;
}