@{
    ViewData["Title"] = "Attendance";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Attendance Page</h1>
    <p>This page allows tracking employee attendance.</p>
    <a asp-controller="Employee" asp-action="Departments">Department</a>
</body>
</html>
