@{
    ViewData["Title"] = "Employee Details";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
</head>
<body>
    <h1>Employee Details Page</h1>
    <p>This page displays detailed information about an employee.</p>
    <a asp-controller="Employee" asp-action="Attendance">Attendance</a>
</body>
</html>
